{% extends "base.html" %}
{% block title %}{{ trip.name }}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="/static/css/trip.css">
{% endblock %}
{% block body %}
  <script>document.body.dataset.tripSlug = "{{ slug }}";</script>
  {% include "partials/nav_band.html" %}
  <div class="trip-page">
    {% include "partials/trip_header.html" %}
    {% include "partials/section_route.html" %}
    {% include "partials/section_weather.html" %}
    {% include "partials/section_itinerary.html" %}
    {% include "partials/section_gear.html" %}
    {% include "partials/section_food.html" %}
    {% include "partials/section_costs.html" %}
  </div>
  <script src="/static/js/section_gear.js"></script>
  <script src="/static/js/section_costs.js"></script>
  <script src="/static/js/section_itinerary.js"></script>
  <script src="/static/js/section_food.js"></script>
  <script src="/static/js/section_meta.js"></script>
  <script src="/static/js/section_route.js"></script>
{% endblock %}
