{% extends "base.html" %}
{% block title %}{{ trip.name }}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="/static/css/trip.css?v={{ static_version }}">
<link rel="stylesheet" href="/static/css/sites.css?v={{ static_version }}">
<style>:root { --hero-image: url("{{ hero_image }}"); }</style>
{% if trip.mode == "car_camping" %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"/>
{% endif %}
{% endblock %}
{% block body_class %}has-fixed-hero{% endblock %}
{% block body %}
  <script>document.body.dataset.tripSlug = "{{ slug }}";</script>
  {% include "partials/nav_band.html" %}
  {% include "partials/trip_sidenav.html" %}
  <div class="trip-page">
    {% include "partials/trip_header.html" %}
    {% if trip.mode == "car_camping" %}
    {% include "partials/section_getting_there.html" %}
    {% else %}
    {% include "partials/section_route.html" %}
    {% endif %}
    {% include "partials/section_weather.html" %}
    {% include "partials/section_itinerary.html" %}
    {% include "partials/section_gear.html" %}
    {% include "partials/section_food.html" %}
    {% include "partials/section_costs.html" %}
  </div>
  {% include "partials/comments.html" %}
  <script src="/static/js/section_gear.js?v={{ static_version }}"></script>
  <script src="/static/js/section_costs.js?v={{ static_version }}"></script>
  <script src="/static/js/section_itinerary.js?v={{ static_version }}"></script>
  <script src="/static/js/section_food.js?v={{ static_version }}"></script>
  <script src="/static/js/section_meta.js?v={{ static_version }}"></script>
  <script src="/static/js/section_route.js?v={{ static_version }}"></script>
  <script src="/static/js/site_search.js?v={{ static_version }}"></script>
  {% if trip.mode == "car_camping" %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
  <script src="/static/js/car_maps.js?v={{ static_version }}"></script>
  {% endif %}
  <script src="/static/js/trip_sidenav.js?v={{ static_version }}"></script>
  <script src="/static/js/comments.js?v={{ static_version }}"></script>
{% endblock %}
